{% load static %}
<html>
<head>
    <title>Caferino</title>

    <meta charset="UTF-8">
    <meta name="description" content="Bine ați venit în cafeneaua părinților și a copiilor! Te așteptăm mereu cu o cafea bună și un zâmbet. Am pregătit un spațiu unde părinții pot lucra, se pot relaxa, pot socializa în timp ce copiii vor explora spațiul și se vor juca în siguranță.">
    <meta name="keywords" content="cafea, parinti, copii, loc de joaca, cursuri">

        <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet" type="text/css">

    <!--  JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
<script>
  function isConsent() {
        return document.cookie.indexOf("hasConsent" + '=' + "true") > -1 || localStorage.getItem("hasConsent") === "true";
      };
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-170460577-1"></script>
<script>
  if (isConsent()) {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-170460577-1');
  }
</script>

<!-- Facebook Pixel Code -->
<script>
  if (isConsent()) {
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '2689946364605416'); 
fbq('track', 'PageView');
  }
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=2689946364605416&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

    <style>
.navbar {
  height: 100px;
}

.image_logo_caferino {
  transform: translateY(calc(50% - 20px));
  z-index: 10;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

.indicators {
  display: flex;
  /* list-style-type: none; */
}

.indicators li {
  width: 10px;
  height: 10px;
  background-color: white;
  margin: 10px;
}

.indicators .active {
  background-color: red;
}

.outer {
  display: flex;
  min-height: 70%;
  flex-direction: column; /* added */
  padding-left: 120px;
  padding-right: 120px;
}

.row {
  display: flex;
  flex: 1; /* added */
}

.row2 {
  display: flex;
}

.item {
  flex: 1; /* added */
  padding-left: 30px;
  padding-right: 30px;
}

.item_description {
  height: 100px;
}

.item_title {
  height: 30px;
}

.images_subtext {
  margin-top: 10px;
  text-align: center;
  font-family: Monsserat;
  font-size: 26px;
}

a {
  color:inherit;
  text-decoration: none;
}
    </style>

<script>
  // Initialize and add the map
  function initMap() {
    // The location of Uluru

    var uluru = {lat: 44.45672, lng: 26.11526};
    // The map, centered at Uluru
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 18, center: uluru});
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({position: uluru, map: map});
    console.log("hello!");
  }

  function changeCarousel1() {
    var mainElement = document.getElementById("carousel_main_image");
    var titleElement = document.getElementById("carousel_title");
    var contentElement = document.getElementById("carousel_content");

    var element1 = document.getElementById("carousel1");
    var element2 = document.getElementById("carousel2");
    var element3 = document.getElementById("carousel3");
    var element4 = document.getElementById("carousel4");
    var element5 = document.getElementById("carousel5");

    element1.classList.add("active");
    element2.classList.remove("active");
    element3.classList.remove("active");
    element4.classList.remove("active");
    element5.classList.remove("active");

    titleElement.innerHTML = "CALITATE";
    contentElement.innerHTML = "Dorim să ne autodepășim, astfel încât să fim în fiecare zi cea mai bună variantă a noastră. Ne bucurăm de relațiile și timpul de calitate pe care le aducem în viața noastră. Nu suntem perfecți, însă ne dorim ce este mai bun pentru noi și pentru copiii noștri.";

    mainElement.src = "/static/coffee.jpg";
  }

  function changeCarousel2() {
    var mainElement = document.getElementById("carousel_main_image");
    var titleElement = document.getElementById("carousel_title");
    var contentElement = document.getElementById("carousel_content");
    var element1 = document.getElementById("carousel1");
    var element2 = document.getElementById("carousel2");
    var element3 = document.getElementById("carousel3");
    var element4 = document.getElementById("carousel4");
    var element5 = document.getElementById("carousel5");

    element1.classList.remove("active");
    element2.classList.add("active");
    element3.classList.remove("active");
    element4.classList.remove("active");
    element5.classList.remove("active");

    titleElement.innerHTML = "PRIETENIE";
    contentElement.innerHTML = "Oferim mereu un zâmbet cald, o vorbă bună și multă înțelegere. Dorim să creăm un mediu prietenos unde să ne simțim confortabil cu alegerile noastre.";

    mainElement.src = "/static/prietenie.jpg";
  }

  function changeCarousel3() {
    var mainElement = document.getElementById("carousel_main_image");
    var titleElement = document.getElementById("carousel_title");
    var contentElement = document.getElementById("carousel_content");

    var element1 = document.getElementById("carousel1");
    var element2 = document.getElementById("carousel2");
    var element3 = document.getElementById("carousel3");
    var element4 = document.getElementById("carousel4");
    var element5 = document.getElementById("carousel5");

    element1.classList.remove("active");
    element2.classList.remove("active");
    element3.classList.add("active");
    element4.classList.remove("active");
    element5.classList.remove("active");

    titleElement.innerHTML = "AUTENTICITATE";
    contentElement.innerHTML = "Suntem unici și speciali, fiecare cu aspirațiile și nevoile lui pe care le îmbrățișăm alături de copiii noștri.";

    mainElement.src = "/static/autenticitate.jpg";
  }

  function changeCarousel4() {
    var mainElement = document.getElementById("carousel_main_image");
    var titleElement = document.getElementById("carousel_title");
    var contentElement = document.getElementById("carousel_content");

    var element1 = document.getElementById("carousel1");
    var element2 = document.getElementById("carousel2");
    var element3 = document.getElementById("carousel3");
    var element4 = document.getElementById("carousel4");
    var element5 = document.getElementById("carousel5");

    element1.classList.remove("active");
    element2.classList.remove("active");
    element3.classList.remove("active");
    element4.classList.add("active");
    element5.classList.remove("active");

    titleElement.innerHTML = "IMPLICARE";
    contentElement.innerHTML = "Suntem atenți la cei care au mai multă nevoie de ajutor și suntem gata să oferim sprijinul nostru. Visăm la o comunitate mai bună.";

    mainElement.src = "/static/implicare.jpg";
  }

  function changeCarousel5() {
    var mainElement = document.getElementById("carousel_main_image");
    var titleElement = document.getElementById("carousel_title");
    var contentElement = document.getElementById("carousel_content");

    var element1 = document.getElementById("carousel1");
    var element2 = document.getElementById("carousel2");
    var element3 = document.getElementById("carousel3");
    var element4 = document.getElementById("carousel4");
    var element5 = document.getElementById("carousel5");

    element1.classList.remove("active");
    element2.classList.remove("active");
    element3.classList.remove("active");
    element4.classList.remove("active");
    element5.classList.add("active");

    titleElement.innerHTML = "ENTUZIASM";
    contentElement.innerHTML = "Ne place sa fim aici! Ne bucurăm de fiecare moment petrecut împreună.";

    mainElement.src = "/static/entuziasm.jpg";
  }

  function hide() {
      image_container = document.getElementById("fullscreen_image_container");
      image_container.style.display = "none";
      console.log("Hidee!")
  }

  function showImage1() {
    image_container = document.getElementById("fullscreen_image_container");
    image = document.getElementById("fullscreen_image");
    image.src = "{% static "/image_render_1_big.jpg" %}";
    image_container.style.display = "flex";
    console.log(window.pageYOffset);
    image_container.style.top = window.pageYOffset;

    console.log("Hi!")
  }

  function showImage2() {
    image_container = document.getElementById("fullscreen_image_container");
    image = document.getElementById("fullscreen_image");
    image.src = "{% static "/image_render_2_big.jpg" %}";
    image_container.style.display = "flex";
    image_container.style.top = window.pageYOffset;
  }

  function showImage3() {
    image_container = document.getElementById("fullscreen_image_container");
    image = document.getElementById("fullscreen_image");
    image.src = "{% static "/image_render_3_big.jpg" %}";
    image_container.style.display = "flex";
    image_container.style.top = window.pageYOffset;
  }

  function showImage4() {
    image_container = document.getElementById("fullscreen_image_container");
    image = document.getElementById("fullscreen_image");
    image.src = "{% static "/image_render_4_big.jpg" %}";
    image_container.style.display = "flex";
    image_container.style.top = window.pageYOffset;
  }

  function showImage5() {
    image_container = document.getElementById("fullscreen_image_container");
    image = document.getElementById("fullscreen_image");
    image.src = "{% static "/image_render_5_big.jpg" %}";
    image_container.style.display = "flex";
    image_container.style.top = window.pageYOffset;
  }

  function showImage6() {
    image_container = document.getElementById("fullscreen_image_container");
    image = document.getElementById("fullscreen_image");
    image.src = "{% static "/image_render_6_big.jpg" %}";
    image_container.style.display = "flex";
    image_container.style.top = window.pageYOffset;
    console.log("Image 6")
  }

  function showImage7() {
    image_container = document.getElementById("fullscreen_image_container");
    image = document.getElementById("fullscreen_image");
    image.src = "{% static "/image_render_7_big.jpg" %}";
    image_container.style.display = "flex";
    image_container.style.top = window.pageYOffset;
  }

      </script>
      <!--Load the API from the specified URL
      * The async attribute allows the browser to render the page while the API loads
      * The key parameter will contain your own API key (which is not needed for this tutorial)
      * The callback parameter executes the initMap() function
      -->
      <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVW8fhOMcMfcXaime2Z5PtCn2I7x8XJKQ&callback=initMap">
      </script>

</head>
<body style="background-image: url('/static/back_HP.png'); background-color: #FCF3EE;">
    <div id="fullscreen_image_container" onclick="hide()" style="cursor: pointer; position: absolute; width: 100%; height: 100%; background-color:rgba(0, 0, 0, 0.5); z-index: 1000; display: none; justify-content: center; align-items: center;">
      <img id="fullscreen_image" src="{% static "/image_render_1.jpg" %}"/>
    </div>  

    <!-- <div style="width: 100%; height: 100%; background-position:center; background-repeat:reap; position: absolute; background-image: url('/static/back_HP.png'); z-index: -1;">
    </div>
    <div style="width: 100%; height: 100%; background-position:center; background-repeat:no-repeat; position: absolute; background-color: #FCF3EE; z-index: -1; opacity: 0.5;">
    </div> -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarsExample11">
                <ul class="navbar-nav">
                    <li class="nav-item active navbar-collapse">
                        <a class="nav-link" style="color: #CA351E;" href="/">Home</a>
                        <div style="min-height: 100px;"></div>
                    </li>
                    <li class="nav-item navbar-collapse">
                        <a class="nav-link" href="/ateliere/">Ateliere</a>
                    </li>
                    <li class="nav-item navbar-collapse">
                        <a class="nav-link" href="/blog/">Blog</a>
                    </li>
                        
                    <div style="background-color: white; z-index: 100; display: flex; width: 240px; height: 220px; justify-content: center; align-items: center; box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.05);">

                          <img class="image_logo_caferino" style="width: 100px; height: 100px;" src="{% static "/logo_caferino.svg" %}" alt="My image">
                        </div>
                    <li class="nav-item navbar-collapse">
                        <a class="nav-link" href="/calendar/">Calendar</a>
                    </li>
                    <li class="nav-item navbar-collapse">
                        <a class="nav-link" href="/club">Club</a>
                    </li>
                    <li class="nav-item navbar-collapse">
                        <a class="nav-link" href="#">Shop</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      {% if banners|length > 1 %}
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

            {% for item in banners|slice:"1:" %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter}}"></li>
            {% endfor %}
        </ol>
      {% endif %}
        <div class="carousel-inner">

          {% if banners|length > 0 %}
          <div class="carousel-item active">
            <a href="{{banners.0.url}}">
              <img class="d-block w-100" src="{{ banners.0.image }}" alt="First slide">
            </a>
          </div>
          {% endif %}

          {% if banners|length > 1 %}
          {% for item in banners|slice:"1:"  %}
            <div class="carousel-item">
              <a href="{{item.url}}">
                <img class="d-block w-100" src="{{ item.image }}" alt="First slide">
              </a>
            </div>
          {% endfor %}
          {% endif %}

          <!-- <div class="carousel-item">
            <img class="d-block w-100" src="{% static "/hero_viziune.png" %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static "/hero_curs.png" %}" alt="First slide">
          </div> -->
        </div>
        {% if banners|length > 1 %}
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        {% endif %}
      </div>
    
      <div style="margin-left: 250px; margin-right: 250px; align-items: center; margin-top: 50px; text-align: center; margin-bottom: 50px;">
        <p style="text-align: center; font-family: 'Montserrat';text-align: center;font-size: 40;color: #CA351E;">MANIFESTO</p>

        <p>
        Și noi suntem părinți. Și, la fel ca tine, știm cât de dificil este să ne regăsim ritmul. Printre scutece,
        jucării și somn fragmentat ne zboară des gândul la carieră, la dezvoltare, la relaxare și socializare. Ne
        dorim să ieșim singuri, dar ne este dor și de fălcuțele care ne așteaptă nerăbdătoare.
        </p>

        <p>
        Dorim să ne ocupăm de proiecte profesionale, dar ne simțim vinovați ca trebuie sa ne rupem de langa
        pui. De aceea am creat acest spatiu. Un loc unde poți lucra căteva minute neîntrerupt în timp ce copilul
        se joacă. Unde poți deschide o carte pe care nu trebuie să o citesti cu voce tare. Unde poți bea o cafea
        bună în timp ce copilul participă la un curs. Unde poți discuta cu prietenii fără să te simți vinovat că
        duci copilul într-un loc nepotrivit.
        </p>
        
        <p>
        Este locul creat special pentru momente minunate împreună cu cel mic, separat sau împreună.
        </p>
      </div>

      <div style="display: flex;">
        <div style="    background-color: black;width: 100%;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <div style="display: flex;">
                    <img id="carousel_main_image"style="width: 55%; height: intrinsic;" src="{% static "/coffee.jpg" %}" alt="My image"></img>
                    <div style="display: flex;flex-direction: column;justify-content: center; width: 45%; padding-left: 20px;">
                      <div style="display: flex; align-items: center;">
                      <hr style="width: 10%;text-align: left;margin-left: 0;background-color: white;">
                      <p id="carousel_title" style="width: 85%;font-family: Montserrat; font-size: 60px; color: white; margin-left: 20px; margin-bottom: 0rem;">CALITATE</p>
                      </div>
                      <p id="carousel_content" style="width: 70%; height: 20%; font-family: Roboto; font-size: 18px; color: white; margin-bottom: 0pm;">Dorim să ne autodepășim, astfel încât să fim în fiecare zi cea mai bună variantă a noastră. Ne bucurăm de relațiile și timpul de calitate pe care le aducem în viața noastră. Nu suntem perfecți, însă ne dorim ce este mai bun pentru noi și pentru copiii noștri.</p>
                      <div class="indicators">
                        <li id="carousel1" data-target="#carouselExampleIndicators" data-slide-to="0" onclick="changeCarousel1()" class="active"></li>
                        <li id="carousel2" data-target="#carouselExampleIndicators" data-slide-to="1" onclick="changeCarousel2()"></li>
                        <li id="carousel3" data-target="#carouselExampleIndicators" data-slide-to="2" onclick="changeCarousel3()"></li>
                        <li id="carousel4" data-target="#carouselExampleIndicators" data-slide-to="3" onclick="changeCarousel4()"></li>
                        <li id="carousel5" data-target="#carouselExampleIndicators" data-slide-to="3" onclick="changeCarousel5()"></li>
                      </ul>
                    </div>

                  </div>
                </div>
            </div>
            </div>
      </div>
    </div>

    <div style="display: flex; justify-content: center;">
      <div style="width: 40%;display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <p style="text-align: center; font-family: 'Montserrat';text-align: center;font-size: 40;color: #CA351E; margin-top: 25px;">CE ESTE CAFERINO</p>
        <img style="width: 100px; height: 100px;" src="{% static "/ce_este_0.svg" %}" alt="My image"></img>
        <hr style="width: 100%;text-align: left;margin-left: 0;background-color: black;">
        <p>O CAFEA AROMATĂ TE VA AȘTEPTA ORICÂND</p>
        <p style="text-align: center;">Fie că ai o discuție interesantă cu prietenii sau te bucuri de cartea preferată, fie lucrezi la un proiect sau te bucuri de zâmbetul copilului tău, cafeaua din boabe proaspăt macinate îți va condimenta momentele speciale.</p>
      </div>
    </div>
    <div class="outer">
      <div class="row">
        <div class="item" style="width: 40%;display: flex;flex-direction: column;justify-content: center;align-items: center;">
          <img style="width: 100px; height: 100px;" src="{% static "/ce_este_1.svg" %}" alt="My image"></img>
          <hr style="width: 100%;text-align: left;margin-left: 0;background-color: black;">
          <p class="item_title">CONSTRUIEȘTE-ȚI PROIECTELE AICI</p>
          <p class="item_description" style="text-align: center;">Visezi la o carieră frumoasă. Știm și încurajăm asta. Când părintele face ceea ce îi place, se simte fericit și împlinit și transmite asta copilului. Acum poți bifa task după task în locul special amenajat, în timp ce copilul tău se bucură de spațiul de joacă.</p>
        </div>
        <div class="item" style="width: 40%;display: flex;flex-direction: column;justify-content: center;align-items: center;">
          <img style="width: 100px; height: 100px;" src="{% static "/ce_este_2.svg" %}" alt="My image"></img>
          <hr style="width: 100%;text-align: left;margin-left: 0;background-color: black;">
          <p class="item_title">TE SIMȚI CA ACASĂ</p>
          <p class="item_description" style="text-align: center;">Aici găsești cam tot ce ai avea nevoie pentru tine și copilul tau: Sisteme de purtare, 2 spații de schimbat scutecul, scaune de masă, bavete de unică folosință, pompă de sân și biberoane, lingurițe bebeluși, balansoare pentru cei mici, olițe și reductoare, spațiu alăptat.</p>
        </div>
        <div class="item" style="width: 40%;display: flex;flex-direction: column;justify-content: center;align-items: center;">
          <img style="width: 100px; height: 100px;" src="{% static "/ce_este_3.svg" %}" alt="My image"></img>
          <hr style="width: 100%;text-align: left;margin-left: 0;background-color: black;">
          <p class="item_title">GUSTĂRI MEREU SĂNĂTOASE</p>
          <p class="item_description" style="text-align: center;">Partenerii noștri prepară cu multă atenție gustările delicioase. Fie ca îți este un pic foame sau ai poftă să te răsfeți cu ceva dulce, nu trebuie să te gândești la siluetă: dulciurile sunt fără zahăr, gustările conțin cele mai bune ingrediente.</p>
        </div>
      </div>
      <div class="row">
        <div class="item" style="width: 40%;display: flex;flex-direction: column;justify-content: center;align-items: center;">
          <img style="width: 100px; height: 100px;" src="{% static "/ce_este_4.svg" %}" alt="My image"></img>
          <hr style="width: 100%;text-align: left;margin-left: 0;background-color: black;">
          <p class="item_title">IUBIM CĂRȚILE ȘI CITITORII</p>
          <p class="item_description" style="text-align: center;">Avem o cameră dedicată lor și vă invităm să o vizitați. Puteți citi în timp ce savurați o cafea sau o puteți lua acasă. Colecția este variată și pentru toate vârstele. Avem o cameră dedicată lor și vă invităm să o vizitați. Puteți citi în timp ce savurați o cafea sau o puteți lua acasă.</p>
        </div>
        <div class="item" style="width: 40%;display: flex;flex-direction: column;justify-content: center;align-items: center;">
          <img style="width: 100px; height: 100px;" src="{% static "/ce_este_5.svg" %}" alt="My image"></img>
          <hr style="width: 100%;text-align: left;margin-left: 0;background-color: black;">
          <p class="item_title">ÎNVĂȚĂM ȘI NE JUCĂM</p>
          <p class="item_description" style="text-align: center;">La CAFERINO învățăm lucruri distractive și ne jucăm învățând. Cursuri de limbi străine, construcții și meșterit, sport, teatru, lectura și pictura sunt doar câteva dintre opțiuni. Adulții se pot bucura și ei de întâlniri pe diverse teme fie ca sunt pentru dezvoltare personală sau profesională.
          </p>
        </div>
        <div class="item" style="width: 40%;display: flex;flex-direction: column;justify-content: center;align-items: center;">
          <img style="width: 100px; height: 100px;" src="{% static "/ce_este_6.svg" %}" alt="My image"></img>
          <hr style="width: 100%;text-align: left;margin-left: 0;background-color: black;">
          <p class="item_title">ÎMPREUNĂ AVEM GRIJĂ DE COMUNITATE</p>
          <p class="item_description" style="text-align: center;">Ne dorim să avem un impact pozitiv în societate, de aceea participăm activ în campanii umanitare și ajutam pe cei care au mai multă nevoie. Avem grijă de planeta noastră și susținem micile afaceri locale. Avem grijă de planeta noastră.</p>
        </div>
      </div>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 40px;">
      <a href="reguli">
        <div style="padding: 10px;">
          <img src="{% static "/reguli.jpg" %}" alt="My image"></img>
          <p class="images_subtext">Regulile casei</p>
        </div>
      </a>
      <a href="covid">
        <div style="padding: 10px;">
          <img src="{% static "/covid.jpg" %}" alt="My image"></img>
          <p class="images_subtext">Măsuri covid</p>
        </div>
      </a>
        <a href="proiecte_sociale">
          <div style="padding: 10px;">
            <img src="{% static "/proiecte_sociale.jpg" %}" alt="My image"></img>
            <p class="images_subtext">Proiecte sociale</p>
          </div>
        </a>
      </div>
    </div>

    <div class='row' style="display: flex; justify-content: center; background-color: white; padding: 20px;">
      <div onclick="showImage1()" class='col-xs-6' style="margin-right: 12px; cursor: pointer;">
        <img src="{% static "/image_render_1.jpg" %}" alt="My image"></img>
      </div>
      <div class='col-xs-6'>
          <div class='row2'>
              <div onclick="showImage2()" class='col-xs-6' style="margin: 0px 12px 12px 12px; cursor: pointer;">
                <img src="{% static "/image_render_2.jpg" %}" alt="My image"></img>
              </div>
              <div onclick="showImage3()" class='col-xs-6' style="margin: 0px 12px 12px 12px; cursor: pointer;">
                <img src="{% static "/image_render_3.jpg" %}" alt="My image"></img>
              </div>

          </div>
          <div class='row2'>
              <div onclick="showImage5()" class='col-xs-6' style="margin: 0px 12px 12px 12px; cursor: pointer;">
                <img src="{% static "/image_render_5.jpg" %}" alt="My image"></img>
              </div>
              <div onclick="showImage6()" class='col-xs-6' style="margin: 0px 12px 12px 12px; cursor: pointer;">
                <img src="{% static "/image_render_6.jpg" %}" alt="My image"></img>
              </div>
          </div>
          <div class="row2">
            <div onclick="showImage4()" class='col-xs-6' style="margin: 0px 12px 12px 12px; cursor: pointer;">
              <img src="{% static "/image_render_4.jpg" %}" alt="My image"></img>
            </div>
            <div onclick="showImage7()" class='col-xs-6' style="margin: 0px 12px 12px 12px; cursor: pointer;">
              <img src="{% static "/image_render_7.jpg" %}" alt="My image"></img>
            </div>
          </div>
      </div>
  </div>

  <div id="cookies-eu-banner" style="position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  padding: 1rem .5rem;
  background: #fff;
  z-index: 1030;
  color: #000;
  font-size: 14px;
  margin: 0;
  display: none;">
    Acest site folosește fișiere numite "Cookies". Cookies sunt fisiere text mici, stocate pe computerul utilizatorilor. Acestea ne permit să colectam informații pentru a întelege modul in care site-ul nostru este utilizat și pentru a va oferi o experiență mai bună. Continuând să utilizați site-ul, sunteți de acord cu utilizarea acestor cookies.

    <button id="cookies-eu-reject">Refuz</button>
    <button id="cookies-eu-accept">Accept</button>
</div>

  <div id="map" style="width: 100%; height: 400px;"></div>
  <div style="display: flex; align-items: center; padding: 50px; background-color: #FCF3EE; box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);">
    <img src="{% static "/logo_caferino.svg" %}" style="width: 100px; height: 100px; margin-right: 100px;" alt="My image"></img>
    <div style="display: flex; flex-direction: column; width: 40%;">
      <a href="/ateliere">Ateliere</a>
      <a href="/calendar">Calendar</a>
      <a href="/blog">Blog</a>
      <a href="/politica-de-confidentialitate">Politica de confidențialitate</a>
      <a href="/contact">Contact</a>
    </div>
    <div>Copyright ©2020 All rights reserved | Tailored by Ruffle.ro</div>
  </div>

  <script src={% static "/cookies-eu-banner.js" %}></script>
  <script>
      new CookiesEuBanner(function () {
          // Your code to launch when user accept cookies
      });
  </script>
</body>
</html>